*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

}

@font-face {
	font-family: 'MyFont';
	src: url(fonts/Futura-Lig.ttf);
}

a,p{
  font-family:'メイリオ', 'Meiryo', sans-serif;
}


header{
  position: relative;
  height: 100vh;
  background-size: cover!important;
}



@media screen and (max-width: 780px){
  nav {display: none ;}
}

nav ul{
  display: flex;
  justify-content: flex-end;
  margin: 0 20px;
}

nav li{

    padding: 20px 20px;
}

nav li a{
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

nav li a:hover{
    color:#415ddb;
}


header div{
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

header div p {
    color: #fff;
    font-size: 3vw;
    margin: 20px auto;
}

header div img {
    width: 60vw;
    margin: auto;
}


@media screen and (max-width: 780px){
  header div p{
    font-size: 5vw;
  }

  header div img {
    width: 70vw;
}
}


.topic{
    text-align: center;
    color:#415ddb;
    font-size:3.3rem;
    margin: 40px auto;
}


@media screen and (max-width: 780px){
  .topic{
    font-size:10vw;
    margin: 30px auto;
  }
}


.introduction-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 60px auto;
}


.reverse{
  flex-wrap: wrap-reverse;
}

.intro_img_1{
  background-image: url(images/introduction_001.jpg);
}

.intro_img_2{
  background-image: url(images/introduction_002.jpg);
}

.introduction-img{
  background-size: cover;
  width: 500px;
  height: 350px;
  margin: 0 20px;
}

@media screen and (max-width: 780px){
  .introduction-img{
    width: 100%;
    height: auto;
    padding-top: 50%;

  }
  .introduction-area{
    margin: 30px auto;
  }

}



.introduction-text {
  width: 420px;
  font-size:0.9rem ;
  line-height: 30px;
  letter-spacing: 0.1em;
  margin: 30px 80px;
}

@media screen and (max-width: 780px){
  .introduction-text{
    font-size:3.5vw;
    width: 90%;
    overflow-wrap:break-word;
    margin: 0px auto;
  }
  .introduction-text br {
    display: none;
  }

}


.btn{
  text-align: center;
  display: block;
  margin: 16px auto;
  width: 170px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  border-radius: 12px;
  padding: 8px 0;
  background-color: #415ddb;
}

.btn:hover{
    box-shadow: 2px 2px 5px #ccc;
}

.register_yellow{
  background-color: #fec000;
}

.contents{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.courses{
  position: relative;
}

.courses .topic{
  margin: 50px auto;
}

.course{
  width: 240px;
  height: 340px;
  padding: 40px;
  background-color: rgba(255, 255, 255);
  border-radius: 16px;
  margin: 10px 10px;
}

.html_img{
  margin:15px auto 45px auto;
  width: 71px;
  height: 100px;
  background-image: url(images/html.png);
  background-size:100% 100%;
}
.css_img{
  margin:15px auto 45px auto;
  width: 71px;
  height: 100px;
  background-image: url(images/css.png);
  background-size:100% 100%;
}
.unity_img{
  margin:15px auto 65px auto;
  width: 80px;
  height: 80px;
  background-image: url(images/unity.png);
  background-size:100% 100%;
}
.ruby_img{
  margin:15px auto 65px auto;
  width: 80px;
  height: 80px;
  background-image: url(images/ruby.png);
  background-size:100% 100%;
}
.js_img{
  margin:15px auto 30px auto;
  width: 82px;
  height: 115px;
  background-image: url(images/js.png);
  background-size:100% 100%;
}
.swift_img{
  margin:15px auto 49px auto;
  width: 108px;
  height: 96px;
  background-image: url(images/swift.png);
  background-size:100% 100%;
}
.go_img{
  margin:10px auto 15px auto;
  width: 130px;
  height: 130px;
  background-image: url(images/go.png);
  background-size:100% 100%;
}

@media screen and (max-width: 780px){
  .contents{
    max-width: 320px;
  }
  .course{
    width: 140px;
    height: 200px;
    padding: 10px;
    background-color: rgba(255, 255, 255);
    border-radius: 8px;
    margin: 10px 10px;
  }

  .html_img,.css_img{
    width: 53px;
    height: 75px;
    margin: 10px auto;
  }
  .unity_img,.ruby_img{
    width: 60px;
    height: 60px;
    margin: 25px auto;
  }
  .js_img{
    width: 60px;
    height: 86px;
    margin: 10px auto;
  }
  .swift_img{
    width: 81px;
    height: 72px;
    margin: 18px auto;
  }
  .go_img{
    width: 97px;
    height: 97px;
    margin: 10px auto;
  }

  
  .content{
    font-size: 12px;
    margin: 0px auto;
  }
  .html,.css,.unity,.ruby,.javascript,.swift,.go{
    margin: 14px auto;
    width: 100%;
    height: 35px;
    font-size: 12px;
    border-radius: 8px;
    padding: 8px 0;
    background-color: #415ddb;
  }
}
@media screen and (max-width: 320px){
  .contents{
    max-width: 300px;
  }
}
.html{
  background-color: #f16629;
}
.css{
  background-color: #2aa9df;
}
.unity{
  background-color: #333333;
}
.ruby{
  background-color: #ff5252;
}
.javascript{
  background-color: #fed702;
}
.swift{
  background-color: #fe7635;
}
.go{
  background-color: #72cfdd;
}


.course p{
  text-align: center;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: #fff;
  }
  
  a{
    color: #fff;
  }
  
  /*========= particle js を描画するエリア設定 ===============*/
  


  #particles-js{ 
    position:absolute;/*描画固定*/
    z-index:-1;/*描画を一番下に*/
    width: 100%;
    height: 100%;
    background-color:#c9e1ff;/*背景色*/
  }
  
  #wrapper{
    position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
    z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
    width:100%;
    height: 100%;
  }

  iframe{
    display: block;
    margin: 60px auto;
    max-width: 100%;

  }

  @media screen and (max-width: 560px) {
    .iframeWrap{
      position: relative;
      }
      .iframeWrap::before{
      content: "";
      display: inline-block;
      padding-top: 56.25%;
      }
      .iframeWrap iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      }
   }

  footer{
      color: #415ddb;
      text-align: center;
      margin: 18px;
  }


 
.slider{
    margin: 100px auto;
    width: 80%;
}

@media screen and (max-width: 780px){
  .slider{
    margin: 40px auto;

  }

  .access h2{
    margin-top: 30px;
  }
}
.slider img{
    height: auto;
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: #000!important;
}

.fuwatAnime {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1.5s;
  -ms-animation-duration:1.5s;
  animation-duration:1.5s;
  -webkit-animation-name: fuwatAnime;
  -ms-animation-name: fuwatAnime;
  animation-name: fuwatAnime;
  visibility: visible !important;
 }
 @-webkit-keyframes fuwatAnime {
  0% { opacity: 0; -webkit-transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
 }
 @keyframes fuwatAnime {
  0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
 }



.wrap {
	overflow: hidden;
}

